* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-post {
  border: 1px solid gray;
  padding: 12px 24px;
  border-radius: 8px;
}

.create-post:hover {
  background-color: aqua;
}

.modal-container {
  position: absolute;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: white;
}

#layer {
  position: absolute;
  inset: 0;
  background-color: white;
  opacity: 0.4;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 500px;
  background-color: white;
  border: 1px solid;
  border-radius: 8px;
  z-index: 1;
}
